@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
}

.btn {
	background-color: #FFF;
	color: #000;
}

.primary {
	border: 3px solid #2e6da4;
    padding: 0 30px 20px;
}

.primary-bg {
	background-color: #2e6da4;
}

.success {
	border: 3px solid #4cae4c;
    padding: 0 30px 20px;
}

.success-bg {
	background-color: #4cae4c;
}

.warning {
	border: 3px solid #eea236;
    padding: 0 30px 20px;
}

.warning-bg {
	background-color: #eea236;
}

.danger {
	border: 3px solid #d43f3a;
    padding: 0 30px 20px;
}

.danger-bg {
	background-color: #d43f3a;
}

#msg {
	padding: 15px;
}

section {
	margin-bottom: 40px;
}

footer {
	background-color: #000;
	color: #FFF;
	padding: 30px 0;
	font-style: italic;
}