@charset "utf-8";
/* CSS Document */
body {
	background-color:#FFF;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

header {
	background-color: /*rgba(53,60,79,.8)*/ rgba(0, 150, 136, 1);
	color: #FFF;
	height: 50%;
	
}

header h1 {
	margin-top: 100px;
	font-size: 6em;
}

header h3 {
	font-size: 2.5em;
	margin-bottom: 50px;
}

main {
	background-color: #FFF;
	padding: 250px 0 200px 0;
}

main h2 {
	font-size: 2.75em;
}

main p {
	font-size: 1.25em;
	padding-top: 25px;
}

#ele-profile img {
	border: 10px solid #DDD;
	margin-bottom: -200px;
	
	transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	-webkit-transition: transform .25s ease-in-out;
}

#ele-profile img:hover {
        -webkit-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
	    transform: rotateZ(30deg);
}

footer {
	height: 50px;
	background-color: rgba(53,60,79,.8);
}

/* --- SOCIAL MEDIA ICONS --*/
.social-icons {
	font-size: 2em;
	text-align: center;
	margin-bottom: 50px;
}

.social-icons li a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	
	opacity: .6;
	border: 1px solid #FFF;
	border-radius: 50%;
	color: #FFF;
}

.social-icons li a:link,
.social-icons li a:visited {
	color: #FFF;
}

.social-icons li a:hover {
	opacity: 1;
}

.social-icons li a.twitter:hover {
	background-color: #5ec3df;
	border-color: #5ec3df;
}

.social-icons li a.facebook:hover {
	background-color: #3C5FAC;
	border-color: #3C5FAC;
}

.social-icons li a.instagram:hover {
	background-color: #E1306C;
	border-color: #E1306C;
}

.social-icons li a.github:hover {
	background-color: #000;
	border-color: #000;
}

.social-icons li a.linkedin:hover {
	background-color: #0077B5;
	border-color: #0077B5;
}

.social-icons li a:active {
	color: #FFF;
}